<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="actiTIME Android App" preserve-order="true"><listeners><listener class-name="org.uncommons.reportng.HTMLReporter"/><listener class-name="org.uncommons.reportng.JUnitXMLReporter"/></listeners><test name="actiTIME - App Smoke"><parameter name="browser" value="Chrome"/><classes><class name="com.actitime.tests.app.CreateForm"/></classes></test></suite>